@using YM.Common
@using UnionSurvey.Data
@model UserTransactionDetailModel

@{
    ViewData["Title"] = "Financial Logs";
}

@section Styles {
}
<div class="card mb-3">
    <div class="card-body px-xxl-0 p-3">
        <div class="row g-0">
            <div class="col-sm-3 px-3 text-center border-end-sm border-bottom border-bottom-sm-0 py-2 p-xxl-0">
                <div class="icon-circle icon-circle-warning"><span class="fs-7 fas fa-dollar-sign text-warning"></span></div>
                <h4 class="mb-1 font-sans-serif"><span class="text-700 mx-1">$</span><span class="fw-normal text-600">@Model.UserFinancial.AvailableBalance.ToSafeDecimalFloor2()</span></h4>
                <p class="fs-10 fw-semi-bold mb-0">Available balance</p>
            </div>
            <div class="col-sm-3 px-3 text-center border-end-sm border-bottom border-bottom-sm-0 p-xxl-0 py-2">
                <div class="icon-circle icon-circle-primary"><span class="fs-7 fas fa-user-graduate text-primary"></span></div>
                <h4 class="mb-1 font-sans-serif"><span class="text-700 mx-1">$</span><span class="fw-normal text-600">@Model.UserFinancial.TodayIncome.ToSafeDecimalFloor2()</span></h4>
                <p class="fs-10 fw-semi-bold mb-0">Today's income</p>
            </div>
            <div class="col-sm-3 px-3 text-center border-end-sm border-bottom border-bottom-sm-0 p-xxl-0 py-2">
                <div class="icon-circle icon-circle-info"><span class="fs-7 fas fa-chalkboard-teacher text-info"></span></div>
                <h4 class="mb-1 font-sans-serif"><span class="text-700 mx-1">$</span><span class="fw-normal text-600">@Model.UserFinancial.TeamComission.ToSafeDecimalFloor2()</span></h4>
                <p class="fs-10 fw-semi-bold mb-0">Team's commission</p>
            </div>
            <div class="col-sm-3 px-3 text-center p-xxl-0 py-2">
                <div class="icon-circle icon-circle-info"><span class="fs-7 fas fa-chalkboard-teacher text-info"></span></div>
                <h4 class="mb-1 font-sans-serif"><span class="fw-normal text-600">@Model.UserFinancial.ActiveUsers</span></h4>
                <p class="fs-10 fw-semi-bold mb-0">Direct Promotors</p>
            </div>
        </div>
    </div>
</div>


<div class="gx-3">
    <div class="card" id="logsTable" data-list='{"valueNames":["TNXHASH","MODE","DATE", "WALLETADDRESS"],"fallback":"logs-table-fallback"}'>
        <div class="card-header border-bottom border-200 px-0">
            <div class="row flex-between-center gy-2 px-x1">
                <div class="col-auto pe-0">
                    <h6 class="mb-0">All logs</h6>
                </div>
                <div class="col-auto">
                    <form>
                        <div class="input-group input-search-width">
                            <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search  by name" aria-label="search" />
                            <button class="btn btn-sm btn-outline-secondary border-300 hover-border-secondary"><span class="fa fa-search fs-10"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive scrollbar">
                <table class="table table-sm mb-0 fs-10 table-view-logs">
                    <thead class="bg-body-tertiary">
                        <tr>
                            <th class="text-800 sort align-middle ps-2" data-sort="Description">Transaction Hash</th>
                            <th class="text-800 sort align-middle">Mode</th>
                            <th class="text-800 sort align-middle" data-sort="Date">Date</th>
                            @* <th class="text-800 sort align-middle" data-sort="WalletAddress">Wallet Address</th> *@
                            <th class="text-800 sort align-middle" data-sort="Status">Cryto Status</th>
                            <th class="text-800 sort align-middle text-end">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="table-log-body">

                        @foreach (var l in Model.TranactionLogs)
                        {
                            string badgestatus = (l.CryptoTransactionStatus == "success") ? "success" : "danger";
                            <tr>
                                <td class="align-middle TNXHASH white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <h6 class="mb-0 text-900">@l.CryptoTransactionId</h6>
                                    </div>
                                    <span class="badge badge-subtle-@badgestatus">@l.TransactionStatus</span>
                                </td>
                                <td class="align-middle MODE py-2 pe-4">@l.Description</td>
                                <td class="align-middle DATE py-2 pe-4"><span class="d-block">@l.LogDate</span><span>@l.LogTime</span></td>
@*                                 <td class="align-middle WALLETADDRESS py-2 pe-4">
                                    <span class="d-flex">
                                        <strong class="col-1">From</strong>@l.CryptoSenderAddress
                                    </span>
                                    <span class="d-flex">
                                        <strong class="col-1">To</strong>@l.CryptoReceiverAddress
                                    </span>
                                </td> *@
                                <td class="align-middle STATUS fs-9 pe-4">
                                    <span class="badge badge-subtle-@badgestatus">@l.CryptoTransactionStatus</span>
                                </td>
                                <td class="align-middle pe-4 text-end">
                                    <h6 class="mb-0 text-warning">$@l.Amount</h6>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center d-none" id="logs-table-fallback">
                    <p class="fw-bold fs-8 mt-3">No log found</p>
                </div>
            </div>
        </div>
    </div>
</div>