@using YM.Common
@using UnionSurvey.Data
@model SP_AdminDashboardStat
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Dashboard";
}

@section Styles {
}

<div class="card mb-3">
    <div class="card-body px-xxl-0 p-3">
        <div class="row g-0">
            <div class="col-sm-4 px-3 text-center border-end-sm border-bottom py-2 p-xxl-0">
                <div class="icon-circle icon-circle-warning"><span class="fs-7 fas fa-dollar-sign text-warning"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="text-700 mx-1">$</span>
                    <span class="fw-normal text-600">@Model.TodayLoad.ToSafeDecimalFloor2()</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Today Deposit</p>
            </div>
            <div class="col-sm-4 px-3 text-center border-end-sm border-bottom p-xxl-0 py-2">
                <div class="icon-circle icon-circle-primary"><span class="fs-7 fas fa-user-graduate text-primary"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="text-700 mx-1">
                        $
                    </span><span class="fw-normal text-600">@Model.TodayOutRequest.ToSafeDecimalFloor2()</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Today Withdraw Request</p>
            </div>
            <div class="col-sm-4 px-3 text-center border-end-sm border-bottom p-xxl-0 py-2">
                <div class="icon-circle icon-circle-primary"><span class="fs-7 fas fa-user-graduate text-primary"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="text-700 mx-1">
                        $
                    </span><span class="fw-normal text-600">@Model.TodayEarning.ToSafeDecimalFloor2()</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Today Earning</p>
            </div>
            <div class="col-sm-4 px-3 text-center p-xxl-0 py-2 border-bottom">
                <div class="icon-circle icon-circle-info"><span class="fs-7 fas fa-chalkboard-teacher text-info"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="text-700 mx-1">$</span>
                    <span class="fw-normal text-600">@Model.TotalIncome.ToSafeDecimalFloor2()</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Total Deposit</p>
            </div>
            <div class="col-sm-4 px-3 text-center border-end-sm border-bottom border-bottom-sm-0 py-2 p-xxl-0">
                <div class="icon-circle icon-circle-warning"><span class="fs-7 fas fa-dollar-sign text-warning"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="text-700 mx-1">$</span>
                    <span class="fw-normal text-600">@Model.TotalOut.ToSafeDecimalFloor2()</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Total Withdraw</p>
            </div>
            <div class="col-sm-4 px-3 text-center border-end-sm border-bottom border-bottom-sm-0 p-xxl-0 py-2">
                <div class="icon-circle icon-circle-primary"><span class="fs-7 fas fa-user-graduate text-primary"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="text-700 mx-1">$</span>
                    <span class="fw-normal text-600">@Model.TotalEarning.ToSafeDecimalFloor2()</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Total Earning</p>
            </div>
            <div class="col-sm-4 px-3 text-center border-end-sm border-bottom border-bottom-sm-0 p-xxl-0 py-2">
                <div class="icon-circle icon-circle-primary"><span class="fs-7 fas fa-user-graduate text-primary"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="text-700 mx-1">$</span>
                    <span class="fw-normal text-600">@Model.BalanceInWallet.ToSafeDecimalFloor2()</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Remaining Balance in Wallet</p>
            </div>
            <div class="col-sm-4 px-3 text-center p-xxl-0 py-2">
                <div class="icon-circle icon-circle-info"><span class="fs-7 fas fa-chalkboard-teacher text-info"></span></div>
                <h4 class="mb-1 font-sans-serif">
                    <span class="fw-normal text-600">@Model.TotalActiveUsers</span>
                </h4>
                <p class="fs-10 fw-semi-bold mb-0">Total Active Users</p>
            </div>
        </div>
    </div>
</div>
